@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.header {
    background: #fff;

    p {
        color: #666666;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
}

.follow-text {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.main-bg {
    background-color: #f5f5f5 !important;
    position: relative;

    .hero-img {
        height: 150px;
        object-fit: cover;
        width: 100%;
    }

    .hero-img-mobile {
        display: none;
    }

    @media only screen and (max-width: #{$global-breakpoint}) {
        .hero-img {
            height: 80px;
        }
        .hero-img-mobile {
            display: block;
        }
    }
}
.footer-bg {
    background-color: #fff;
    font-family: akkurat-regular;

    .title {
        font-size: 14px;
        color: #666666;
    }

    &.footer-logo {
        .menu-item {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            color: #666666;

            @media only screen and (max-width: #{$global-breakpoint}) {
                width: 42px !important;
                padding-left: 0 !important;
                a {
                    width: 100% !important;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }
    .small-vertical th {
        padding-left: 0 !important;
    }

    .columns {
        padding-bottom: 0;
    }

    &.footer-links {
        .menu-item a {
            font-size: 14px;
            color: #666666;
        }
    }

    &.footer-texts {
        p {
            font-size: 14px;
            color: #666666;
        }
    }
}

hr {
    border: 1px solid #cccccc;
}

.white-space {
    white-space: pre-wrap;
}