body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f3f2f0;
}

div.center {
  background-color: white;
  border-radius: 10px;
  min-width: 400px;
  max-width: 700px;
  margin: 30px auto;
  padding: 50px;
  text-align: center;
}