<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <style rel="stylesheet" href="email.css" data-inline></style>
</head>

<body >
  <div class="center">
    <h3>Hello #{name}</h3>
    <h4>Your confirmation link is</h4><br><br>

    <a href="#{url}">confirmation link</a>
  </div> 

</html>